{% extends "base.tmpl" %}

{% set active_page = "index" %}

{% block title %}Movies{% endblock %}

{% block content %}
<h1>Welcome to the Movies</h1>
<img src="/img/Fox_movietone.jpg" />
<p>
This is the movie database project website.
It builds a small database of your favorite movies.
</p>
{% endblock %}
