{% extends "base.html" %}

{% block body %}
<div id="midcontent_registration">
   <div id="midcontent_confirm">
      <h1>Registration</h1>
      <br />
      <p>Thank you for registering. A registration key has been sent
         to your email address. </p>
      <p>Once you have received the key return to the <a href="/login">login</a> 
         page and login with your email address and the registration key. </p>
      <p>If you don't see the email please check the email's spam folder. </p>
   </div>
<div>
{% endblock %}

