<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	</head>
	<body style="font-family:Trebuchet MS, arial, helvetica, sans-serif;">
		<div style="margin-bottom:40px;">
			<img src="http://www.Company.com/images/logo.jpg" />
		</div>
		<div style="margin:40px">
			<h1 style="font-size:16px;">Thank you for registering.</h1>
			<p>Please go to <a href="http://updates.Company.com/login">http://updates.Company.com/login</a>
				to login with your email address and registration key. You can then
				download the latest software versions.
			</p>
			<p>Your registration key:  <b>{{ regkey }}</b></p>
			<p>Thank you,<br />
				Company Technologies
			</p>
		</div>
	</body>
</html>
